body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    overflow: hidden;
}

.nav-menu {
    float: right;
}

.nav-menu a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.nav-menu a:hover {
    background-color: #ddd;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

#bottom-image {
    margin-top: 80px;
}

#skate-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.profile-header h1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-header .first-name,
.profile-header .last-name {
    display: block;
    font-size: 1.25em;
    line-height: 1;
}

.profile-header .first-name {
    margin-bottom: 10px;
}

h1, h2 {
    color: #333;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

/* Additional styles for the contact page */
.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.research-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.research-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;
}

.research-item {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    transition: transform 0.3s ease;
}

.research-item:hover {
    transform: scale(1.025);
}

.research-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.research-item h2 {
    margin-top: 1px;
    font-size: 1.2em;
}

#nanopore-ion-source, #flow-metrology, #mri-techniques {
    margin-top: 60px;
    max-width: 800px;
    margin-left: 2px;
    margin-right: 2px;
}